.button {
    -fx-background-color: rgb(81, 129, 184);
    -fx-background-radius: 4;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: rgb(102, 144, 193);
}

.button:pressed {
    -fx-background-color: rgb(81, 129, 184);
}

.button:pressed .text {
    -fx-translate-y: 1;
}



.text-field, .text-area {
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-background-color: white;
    -fx-border-color: lightgray;
    -fx-highlight-fill: rgb(81, 129, 184);
}

.text-area .content {
    -fx-background-color: white;
}

.message-text-area, .message-text-area .content, .message-text-area .viewport {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-color: none;
    -fx-border-color: none;
    -fx-highlight-fill: rgb(81, 129, 184);
    -fx-padding: 0;
}

.dialogs-list {
    -fx-background-color: none;
    -fx-padding: 0;
}

.dialogs-list:focused {
    -fx-background-insets: 0;
}

.dialogs-list .list-cell:filled {
    -fx-background-color: white;
}

.dialogs-list .list-cell:filled {
    -fx-border-color: lightgray;
    -fx-border-width: 0 0 1 0;
}

.users-list .list-cell, .dialogs-list .list-cell {
    -fx-padding: 0;
    -fx-cursor: HAND;
}

.users-list .list-cell:empty, .dialogs-list .list-cell:empty {
    -fx-background-color: #f2f2f2;
    visibility: hidden;
    -fx-cursor: DEFAULT;
}

.users-list .list-cell:empty {
    -fx-background-color: white;
}

.dialogs-list .list-cell:hover, .users-list .list-cell:hover {
    -fx-background-color: #dadada;
}

.dialogs-list .list-cell:selected {
    -fx-background-color: rgb(81, 129, 184);
}

.dialogs-list .list-cell:selected .line {
    -fx-stroke: white;
}

.dialogs-list .list-cell:selected .label {
    -fx-text-fill: white;
}

.dialogs-list .scroll-bar {
    -fx-background-color: none;
}

.messages-list {
    -fx-background-color: none;
}

.messages-list .list-cell {
    -fx-background-color: none;
    -fx-padding: 0;
}

.messages-list .list-cell:selected {
    -fx-background-color: lightgray;
}

.messages-list .list-cell:selected .label {
    -fx-text-fill: #333;
}

.messages-list .list-cell:selected .time-label {
    -fx-text-fill: gray;
}

.message {
    -fx-padding: 10;
    -fx-background-radius: 15;
}

.my_message .message {
    -fx-background-color: #CEF;
}

.not_my_message .message {
    -fx-background-color: #EFC;
}

.split-pane .split-pane-divider {
    -fx-background-color: lightgrey;
    -fx-pref-width: 4;
}

.split-pane  {
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.chat-split-pane .split-pane-divider {
    -fx-pref-width: 1;
}

.tool-button {
    -fx-background-color: rgba(0,0,0,0);
    -fx-padding: 0;
    -fx-font-size: 1;
    -fx-pref-width: 16;
    -fx-pref-height: 16;
    -fx-min-width: 16;
    -fx-min-height: 16;
}

.line {
    -fx-stroke: grey;
    -fx-stroke-width: 2;
}

.tool-button:hover {
    -fx-background-color: rgba(0,0,0,0.12);
}

.tool-button:pressed {
    -fx-background-color: rgba(0,0,0,0.2);
}

.tab-pane .tab:top {
    -fx-padding: 3 6;
    -fx-background-color: #f2f2f2;
    -fx-background-radius: 0;
    -fx-background-insets: 0 1 0 0;
    -fx-border-color: #bbb;
    -fx-border-width: 0 0 3 0;
}

.tab-pane .tab:top:hover {
    -fx-background-color: lightgray;
    -fx-border-color: #aaa;
}

.tab-pane .tab:top:selected {
    -fx-background-color: white;
    -fx-border-color: rgb(81, 129, 184);
}

.tab-pane .headers-region {
    -fx-background-color: lightgray;
}

.tab-pane .tab-header-area {
    -fx-padding: 1 0 0 0;
    -fx-background-color: white;
}

.tab-pane .tab-header-background {
    -fx-background-color: #f2f2f2;
    -fx-border-width: 1 0;
    -fx-border-color: lightgray;
}

.tab-pane .tab-close-button {
    -fx-background-color: #888;
    -fx-effect: none;
}

.tab-pane .tab-close-button:hover {
    -fx-background-color: firebrick;
}

.tab-pane .tab:top .tab-label {
    -fx-padding: 0 5;
}

.tab-pane:focused .tab:selected .focus-indicator {
    -fx-border-color: none;
}

.menu-button {
    -fx-background-color: none;
    -fx-padding: 0;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-text-fill: gray;
}

.menu-button:hover {
    -fx-background-color: none;
    -fx-text-fill: rgb(81, 129, 184);
    -fx-cursor: HAND;
}

.progress-indicator .segment0, .segment1, .segment2, .segment3, .segment4, .segment5, .segment6, .segment7, .segment8, .segment9, .segment10, .segment11 {
    -fx-background-color: rgb(81, 129, 184);
}
