.button {
    -fx-background-color: rgb(81, 129, 184);
    -fx-background-radius: 4;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: rgb(102, 144, 193);
}

.button:pressed {
    -fx-background-color: rgb(81, 129, 184);
}

.button:pressed .text {
    -fx-translate-y: 1;
}



.text-field, .text-area {
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-background-color: white;
    -fx-border-color: lightgray;
    -fx-highlight-fill: rgb(81, 129, 184);
}

.text-area .content {
    -fx-background-color: white;
}

.message-text-area, .message-text-area .content, .message-text-area .viewport {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-color: none;
    -fx-border-color: none;
    -fx-highlight-fill: rgb(81, 129, 184);
    -fx-padding: 0;
}

.dialogs-list {
    -fx-background-color: #f2f2f2;
    -fx-border: none;
}

.dialogs-list .list-cell {
    -fx-background-color: #f2f2f2;
}

.users-list .list-cell, .dialogs-list .list-cell {
    -fx-padding: 0;
    -fx-cursor: HAND;
}

.dialogs-list .list-cell:hover, .users-list .list-cell:hover {
    -fx-background-color: #dadada;
}

.dialogs-list .list-cell:pressed {
    -fx-background-color: #c2c2c2;
}

.dialogs-list .list-cell:selected {
    -fx-text-fill: black;
    -fx-background-color: rgb(81, 129, 184);
}

.dialogs-list .scroll-bar {
    -fx-background-color: none;
}

.dialogs-list .increment-button, .dialogs-list .decrement-button, .dialogs-list .corner {
    -fx-background-color: none;
}


.messages-list {
    -fx-background-color: none;
}

.messages-list .list-cell {
    -fx-background-color: none;
    -fx-padding: 10;
}

.message {
    -fx-background-radius: 15;
}

.my_message {
    -fx-alignment: TOP_RIGHT;
}

.not_my_message {
    -fx-alignment: TOP_LEFT;
}

.my_message .message {
    -fx-background-color: #CEF;
}

.not_my_message .message {
    -fx-background-color: #EFC;
}

.dialogs-split-pane .split-pane-divider {
    -fx-background-color: lightgrey;
    -fx-pref-width: 4;
}

.chat-split-pane .split-pane-divider {
    -fx-pref-width: 1;
}

.tool-button {
    -fx-background-color: none;
    -fx-padding: 0;
    -fx-font-size: 1;
}

.line {
    -fx-stroke: grey;
    -fx-stroke-width: 2;
}

.tool-button:hover {
    -fx-background-color: #ccc;
}

.tool-button:pressed {
    -fx-background-color: #bbb;
}
